h1 {
    text-align: center;
    color: steelblue;
}
.flex-container {
    width: 500px;
    height: 500px;
    background: lightblue;    

    /* Centrar contenedor horizontalmente*/
    margin: auto;     

    /* Convierte a los hijos directos en cajas flexibles*/
    display: flex; 
    
    /* Cambia el eje principal de flex por defecto (row) */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */

    /* distribuir contenido respecto al eje principal */
    /*justify-content: center;  */
    justify-content: space-between;
    /* justify-content: flex-end; */

    /* Distribuir contenido respecto al eje secundario */
    align-items: center;     
}
.flex-item {
    background: tomato;
    color: #fff;
    width: 100px;
    height: 100px;

    /*Puedo aplicar flex a los hijos*/
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;    
}

/*Modificar los items impares*/
.flex-item:nth-child(odd){
    background: teal;
}
/*Modificar un item en especifico*/
.flex-item:nth-child(3){
    /*Modifica align-items solo a este elemento*/
    align-self: flex-end;
}
.flex-item:nth-child(1){
    /*Modifica align-items solo a este elemento*/
    align-self: flex-start;
}

.flex-figure {
    text-align: center;
}

.flex-image {
    padding: 20px;
    display: block;
    margin: auto;
}

footer {
    padding-top: 3em;
    text-align: center;
}